<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">datum</th>
            <th scope="col">nev</th>
            <th scope="col">fő</th>
            <th scope="col">cím</th>
            <th scope="col">iranyítószám</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">{id}</th>
            <td>{datum}</td>
            <td>{{nev}}</td>
            <td>{{fő}}</td>
            <td>{{cim}}</td>
            <td>{{iranyitószám}}</td>
        </tr>
        <tr>
            <th scope="row">{id}</th>
            <td>{datum}</td>
            <td>{{nev}}</td>
            <td>{{fő}}</td>
            <td>{{cim}}</td>
            <td>{{iranyitószám}}</td>
        </tr>
        <tr>
            <th scope="row">{id}</th>
            <td>{datum}</td>
            <td>{{nev}}</td>
            <td>{{fő}}</td>
            <td>{{cim}}</td>
            <td>{{iranyitószám}}</td>
        </tr>
    </tbody>
</table>